@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Helvetica Now Text', Helvetica, Arial, sans-serif;
}

/* Cabeçalho */

header {
    background-color: #F7F7F7;
    height: 40px;
    display: flex;
    align-items: center;
    position: sticky;
}

img.jordan-snkrs {
    display: flex;
    gap: 10px;
    width: 130px;
    padding-left: 10px;
}

.nav-links {
    display: flex;
    gap: 28px;
    padding-left: 795px;
}

.nav-links a {
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-weight: 100;
}

/* Cabeçalho 2 */

.cabecalho-2 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link2 {
    display: flex;
    gap: 28px;
    padding-left: 135px;
}

.nav-link2 a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

input[type="text"] {
    background-color: #F7F7F7;
    border: 1px;
    border-radius: 40px;
    width: 170px;
    height: auto;
    margin-left: 185px;
    padding: 12px;
    font-size: 14px;
}

img.logo-nike {
    height: 75px;
    padding-right: 250px;
}


img.fav {
    padding-left: 15px;
    height: 50%;
}

img.sac {
    padding-left: 5px;
    height: 50%;
}

/* Cabeçalho 3*/

.cabecalho-3 {
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    height: 55px;
}

.seta-esq {
    cursor: pointer;
    padding-left: 260px;
    max-width: 60%;
    height: 60px;
}

.seta-dir {
    cursor: pointer;
    padding-right: 280px;
    max-width: 60%;
    height: 60px;
}

.conteudo-central {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icone-nike {
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.icone-nike img {
    width: 16px;
    height: auto;
}

.texto-app {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.texto-app a {
    color: #000;
    text-decoration: underline;
    font-size: 14px;
}

span.title {
    font-size: 15px;
    color: black;
}

/* Carrosel - Corinthians */

.container {
    justify-content: center;
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
}

img {
    max-width: 1350px;
    cursor: pointer;
}

/* Comercial - Phantom 6 */

.comercial {
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding-bottom: 30px;
}

.comercial h1 {
    font-weight: 800;
    font-size: 55px;
    margin-top: 10px;
}

.comercial p {
    font-size: 17px;
    font-weight: 500;
    margin-top: -10px;
}

button {
    background-color: black;
    color: white;
    width: 155px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
    height: 50px;
}

/* Sessão Tênis */

.container-tenis {
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
    padding-top: 10px;
    justify-content: space-evenly;
}

.tenis {
    max-width: 360px;
    width: 334px;
    height: auto;
    gap: 1px;
}

p.icones-nike {
    font-size: 30px;
    padding-left: 85px;
    padding-bottom: 20px;
}

/* Produtos mais buscados */

h3 {
    font-weight: 300;
    font-size: 25px;
    padding-left: 84px;
    padding-top: 35px;
}

nav.sessao {
    max-width: 1350px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    gap: 65px;
    padding-top: 5px;
}

span {
    font-size: 20px;
    cursor: pointer;
    color: #5b5b5b;
}

span:hover {
    color: #898989;
}

span.principal {
    color: black;
    text-decoration: underline;
}

.container-sessao {
    display: flex;
}

.column {
    flex: 1;
}

.column h3 {
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 25px;
}

.column ul {
    display: flex;
    flex-direction: column;
    padding-left: 85px;
    gap: 15px;
}

.column a {
    text-decoration: none;
    color: #777777;
}

.column a:hover {
    color: black;
}

.mostrar-mais {
    display: flex;
    margin: 0 auto;
    width: 100px;
}

.mostrar-mais a {
    color: black;
    padding-top: 35px;
    padding-bottom: 60px;
}

/* Outras Categorias */

.container-outros {
    background-color: #F7F7F7;
    height: 320px;
}

.container-outros h2 {
    font-size: 24px;
    font-weight: 500;
    width: 1350px;
    margin: 0 auto;
    padding-top: 35px;
}

.column-2 {
    display: flex;
    gap: 100px;
}

.column-2 ul {
    display: flex;
    flex-direction: column;
}

.column-2 li {
    display: flex;
    flex-direction: column;
    padding-left: 85px;
    padding-top: 20px;
    gap: 20px;
}

.column-2 a {
    text-decoration: none;
    color: #777777;
}

.column-2 a:hover {
    color: black;
}

.mostrar-mais-2 {
    text-align: center;
    display: flex;
    margin: 0 auto;
    width: 100px;
}

.mostrar-mais-2 a {
    text-align: center;
    color: black;
    margin-top: -55px;
}